.headerContainer{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #FFE0CC;
}
.headerImage{
    border-radius: 15px;
}
.headerText{
    padding: 0px 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    
}
.title{
    padding: 0px 15px;
}

