.bodyParent {
    width: 90%;
    margin: 20px 5%;
}

.bodyHeaderParent {
    width: 100%;

}

.bodyHeader {
    width: 45%;
}

.pageTypeLecture {
    background-color: #007BFF;
    /* A lighter green background */
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    
}

.pageTypeQuiz {
    background-color: #28A745;
    /* A lighter green background */
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.pageTypeInteractive {
    background-color: #FFC107;
    /* A lighter green background */
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    /* color: #FFC107; Orange */
}

.pageTypeOther {
    color: #6C757D; /* Grey */
}


.addPageBtn {
    min-width: 85px !important;
    padding: 5px 2px !important;
    margin: 0px 10px;
    /* text-decoration: underline; */
}

.editIcon {
    min-width: 40px !important;
    padding: 5px 2px !important;
    margin: 0px 10px;
    /* border: 1px solid red; */
}

.moduleCountInfo {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.moduleItem.active {
    /* background-color: #f0f0f0; */
    /* Light gray background for the current module */
}

.pageContent.activePage {
    font-weight: bold;
    /* Bold text for the current page */
}

.currentIndicator {
    background-color: #66bb6a;
    /* A lighter green background */
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;

}

.courseTile {
    width: 100%;
    max-width: 800px;
    min-height: 130px;
    margin: 20px 0px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: white;
}

.courseTileFooter {
    padding: 20px;
}

.courseProgressContainer {
    width: 30%;
    max-width: 200px;
}

.courseDescription {
    color: #666;
    font-size: 15px;
}

.courseTitle {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.tagName {
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: lightgrey;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
}

.courseDescription {
    color: grey;
    overflow: hidden;
    height: 25px;
    white-space: nowrap;
    width: 100%;
    margin: 5px 0px;
    text-overflow: ellipsis;
}

.syllabusParent {
    width: 100%;
    /* max-width: 700px; */
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.moduleName {
    font-weight: 30;
    font-size: 20px;
    position: relative;
}

.moduleItem {
    /* border-bottom: 1px solid gray; */
    padding: 10px 20px;
}

.moduleItem:hover {
    cursor: pointer;
}

.pagesCount {
    font-size: 14px;
    color: gray;
}

.pageContent {
    padding: 5px;
}

.pageName {
    font-size: 15px;
    display: inline-block;
}