.contactContainer {
    width: 50%;
    margin: auto;
    /* Centering */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
}

.messageContainer {
    width: 80%;
    margin: 20px auto;
    /* Center and add more space */
    padding: 20px;
    background-color: #fff;
    /* Light background for the content area */
    border-radius: 8px;
    overflow: hidden;
    height: 80%;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Consistent shadow */
}

.messageTile.selected {
    /* Style for selected message */
    background-color: #e0f7fa;
    border-left: 4px solid #4caf50;
}

.messagePreviewContainer {
    width: 30%;
    max-height: 100%;
    overflow: scroll;
    border-right: 1px solid grey;
    align-self: stretch;
}

.messageTile {
    padding: 15px;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
    cursor: pointer;
}

.messageTile:hover {
    background-color: #f4f4f4;
    /* Lighter hover effect */
}

.messagePreviewContentText,
.messageContent {
    color: #666;
    height: 100%;
    /* Softer color for text */
}

.messagePreviewNameText {
    font-size: 18px;
    /* Slightly smaller for balance */
}

.messagePreviewDateText {
    color: #3a10e5;
    font-style: italic;
    width: 60px;
    display: inline-block;
    /* Style emphasis */
}

.messageContentContainer {
    width: 70%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow-y: auto;
    /* Adds scrolling to the content area */
}

.messageHeader {
    margin-bottom: 10px;
    /* Space between header items and body */
    color: #333;
    /* Dark color for header text */
    font-weight: normal;
}

.messageBody {
    white-space: pre-wrap;
    /* Maintains formatting and line breaks */
    /* color: #666; Lighter color for body text */
    width: 100%;
    /* Full width within container */
    text-align: left;
    /* Ensures text aligns to the left */
    margin-top: 20px;
    /* Space above the message body */
}


.messageContent {
    line-height: 1.6;
    /* Improve readability */
    text-align: justify;
    /* Improve flow */
}

/* Additional styling for form elements and buttons */
.WhiteSelect,
.WhiteContainedTextField {
    margin-bottom: 10px;
    /* Add spacing between form elements */
}

.PrimaryBtn {
    margin-top: 10px;
    background-color: #4CAF50;
    /* Green for actions */
    color: white;
}

.PrimaryBtn:hover {
    background-color: #45a049;
    /* Darken on hover */
}