.headerContainer{
    width: 100%;
    padding: 10px;
    /* border-bottom: 1px solid grey; */
    background-color: #FFE0CC;
}
.title{
    padding: 0px 15px;
}

.logoContainer{
    width: 400px;
    height: 80px;
    padding: 10px;
}
.headerImage{
    border-radius: 15px;
}
.headerText{
    padding: 0px 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    
}
.menuBtn{
    height: 50px;
}
.menuContainer{
    margin: auto;
}
.logoutBtnContainer{
    height: 50px;
    position: absolute;
    right: 10px;
    margin: 0px 20px;
}