body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFF0E5;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../public/fonts/Poppins-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
}