.courseContainer{
    width : 70%;
    margin : 20px 15%;
}

.courseHeader{
    width : 100%;
}

.courseTile{
    width: 100%;
    max-width: 800px;
    min-height: 130px;
    margin: 20px 0px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: white;
}

.courseTileFooter{
    padding: 20px;
}

.courseProgressContainer{
    width: 30%;
    max-width: 200px;
}

.courseDescription{
    color: #666;
    font-size: 15px;
}

.courseTitle{
    font-size: 20px;
    font-weight: bold;
    display: block;
}

